
/*---------------------------------------------------------------SECTION-1 CODE----------------------------------------------------------------------------------------*/
* {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  
  }
  /* General styles */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #logo {
    width: 120px;
    margin: 1%;
    cursor: pointer;
  }
  
  .ico {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
  }
  
  .ico img {
    width: 30px;
    margin-right: 10px;
  }
  
  #icon1 {
    width: 37px;
  }
  
  #icon2 {
    width: 27px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s, background-color 0.9s;
    z-index: 1000;
  }
  
  header.scrolling {
    background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity as needed */
  }
  
  header.static {
    background-color: transparent;
  }
  
  nav {
    padding-top: 0.5%;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  nav ul li:hover,.menu-toggle:hover{
    background-color: rgba(126, 126, 126, 0.405);
    transition: 0.7s all;
    padding: 6px 15px;
    border-radius: 5px;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
  
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    color: white;
    margin-top: 5%;
  }
  
  /* Media queries */
  @media (max-width: 1200px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 60px;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
  
  
    nav ul.active {
        display: flex;
        transform: translateX(0);
    }
  
    nav ul li {
        margin: 20px 0;
    }
  
    .menu-toggle {
        display: block;
        position: absolute;
        right: 3%;
        font-size: 20px;
        margin-right: 3%;
        width: 10%;
  
    }
  
  
  
    
    .ico img, #icon1, #icon2 {
      display: none;
    }
  
    
  
  
  
  }
  
  
  
  .BGV{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    }
  
  
    video{
      filter: grayscale(20%);
    }
  
  
    .home{
      color: rgb(255, 255, 255);
      margin-top: -44px;
      text-align: center;
  
    }
  
    #Y
    {
      font-size: 45px;
      font-weight: 500;
  
    }
  
    #Pr{
  
      font-size: 22px;
      font-weight: 400;
      margin-top: -40px;
    }
  
    #L{
      margin-top: -12px;
      font-size: 14px;
  
    }
  
  .bo{
   padding-top: 26%;
   text-align: center;
  }
  
  button{
    margin: 1%;
    width: 16%;
    padding: 0.8%;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
  


  
  #demo{
    color: white;
    border: 3px solid white;
    background-color: transparent;
  }

  #shop:hover
  {
    background-color: black ;
    color: white;
    border: 4px solid rgb(0, 0, 0);
  }

  #demo:hover
  {
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
  }

  
  #lp{
    color: white;
    font-size: 14px;
    text-align: center;
  
  }
  
  .pl
  {
    text-align: center;
  }
  
  #ll{
    color: white;
    font-size: 13px;
    margin-top: -20px;
    text-decoration: none;
    
  
  }
  
  
  .portion
  {
  
    padding: 5%;
  }
  
  
  /*---------------------------------------------------------------SECTION-2 CODE----------------------------------------------------------------------------------------*/
  
  section{
  
    height: 100vh;
    position: relative;
    overflow: hidden;
  
  }
  
  .bg-v {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  
  
  
  /* Tablet Devices */
  @media (max-width: 1024px) {
    .bo {
      padding-top: 40%;
    }
  
    button {
      width: 30%;
      padding: 1.2%;
    }
  
    #Y {
      font-size: 40px;
      margin-bottom: 50px;
    }
  
    #Pr {
      font-size: 20px;
    }
  
    #L {
      font-size: 13px;
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      right: 5%;
      font-size: 20px;
      width: 15%;
  
  }
  
  
  }
  
  /* Mobile Devices */
  @media (max-width: 768px) {
    .portion {
      margin-top: 20%;
    }
  
    .bo {
      padding-top: 40%;
    }
  
    button {
      width: 70%;
      padding: 2%;
      margin: 2% 0;
    }
  
    #Y {
      font-size: 36px;
      margin-bottom: 50px;
    }
  
    #Pr {
      font-size: 18px;
    }
  
    #L {
      font-size: 12px;
    }
  
    #lp, #ll {
      font-size: 12px;
    }
  
    .nav-container {
      padding: 0 10px;
      margin: 2%;
  
    }
  
    .menu-toggle {
      display: block;
      position: absolute;
      right: 10%;
      font-size: 20px;
      width: 20%;
  
  }
  
  
  }
  
  /* Small Mobile Devices */
  @media (max-width: 480px) {
    .portion {
      margin-top: 25%;
    }
  
    .bo {
      padding-top: 70%;
    }
  
    button {
      width: 90%;
      padding: 4%;
    }
  
    #Y {
      font-size: 32px;
      margin-bottom: 50px;
    }
  
    #Pr {
      font-size: 16px;
    }
  
    #L {
      font-size: 11px;
    }
  
    #lp, #ll {
      font-size: 11px;
    }
  
  
    .menu-toggle {
      display: block;
      position: absolute;
      right: 10%;
      font-size: 20px;
      width: 25%;
  
  }
  
  }
  
  
  .car-license-popup-button {
    position: fixed;
    top: 10%; 
    right: 20px;
    height: 40px;
    background: linear-gradient(240deg, #232323, #494949);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: top 0.3s ease-in-out;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 15px;
    color: white;
    width: 120px;
  }
  .car-license-popup-button.car-visible {
    top: 20px;
  }
  .car-license-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  .car-license-popup-content {
    width: 55%;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 90%;
    height: auto;
    color: black;
  }
  .car-license-popup-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  .car-license-close-button {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    padding: 10px 20px;
    background: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 14px;
  
  }
  .car-license-close-button:hover {
    background: #2980b9;
  }
  .car-license-show-popup {
    display: flex;
  }
  
  
  
  
  
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-top: 3%;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons li {
    display: inline;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-section {
        text-align: center;
    }
  }