
/*---------------------------------------------------------------SECTION-1 CODE----------------------------------------------------------------------------------------*/
* {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  
  }
  
  #logo {
    width: 120px;
    margin: 0 20px;
  }
  
  .ico {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
  }
  
  .ico img {
    width: 30px;
    margin-right: 10px;
  }
  
  #icon1 {
    width: 37px;
  }
  
  #icon2 {
    width: 27px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s, background-color 0.9s;
    z-index: 1000;
  }
  
  header.scrolling {
    background-color: rgba(0, 0, 0, 0.9); /* Adjust opacity as needed */
  }
  
  header.static {
    background-color: transparent;
  }
  
  nav {
    padding-top: 0.5%;
    position: relative;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  nav ul li:hover {
    background-color: rgba(126, 126, 126, 0.405);
    transition: 0.7s all;
    padding: 6px 15px;
    border-radius: 5px;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    width: 100%;
  }
  
  
  
  .BGV{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    }
  
  
    video{
      filter: grayscale(20%);
    }
  
  
    .home{
      color: rgb(255, 255, 255);
      margin-top: -44px;
      text-align: center;
  
    }
  
    #Y
    {
      font-size: 45px;
      font-weight: 500;
      margin-top:70px
  
    }
  
    #Pr{
  
      font-size: 22px;
      font-weight: 400;
      margin-top: -40px;
    }
  
    #L{
      margin-top: -12px;
      font-size: 14px;
  
    }
  
  .bo{
   padding-top: 26%;
   text-align: center;
  }
  
  button{
    margin: 1%;
    width: 16%;
    padding: 0.8%;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #shop{
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  #demo{
    background-color: rgba(27, 24, 24, 0.75);
    color: white;
  }
  
  #lp{
    color: white;
    font-size: 14px;
    text-align: center;
  
  }
  
  .pl
  {
    text-align: center;
  }
  
  #ll{
    color: white;
    font-size: 13px;
    margin-top: -20px;
    text-decoration: none;
    
  
  }
  
  
  .portion
  {
    margin-top: 8%;
  }
  
  
  /*---------------------------------------------------------------SECTION-2 CODE----------------------------------------------------------------------------------------*/
  
  section{
  
    height: 100vh;
    position: relative;
    overflow: hidden;
  
  }
  
  .bg-v {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }